* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.canvas-footer {
    width: 100%;
    height: 20px;
    background-color: rgb(77, 77, 77);
    border-top: 2px solid rgb(39, 39, 39);
}

.header {
    height: 5vh;
    background-color: rgb(94, 94, 94);
    border-bottom: 2px solid rgb(77, 77, 77);
}

.sidebar {
    background-color: rgb(94, 94, 94);
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.left, #handler-left {
    order: -1;
}

.sidebar-topmenu {
    background-color: rgb(77, 77, 77);
    flex: 0 0 auto;
    height: 3vh;
    width: 100%;
    padding: 3px;
}

.main {
    background-color: rgba(224, 224, 224, 0);
    flex: 5;
    display: flex;
    flex-direction: column-reverse;
}

.content {
    min-height: 95vh;
    display: flex;
}

@media screen and (max-width: 992px) {
    .sidebar, .handler {
        display: none !important;
    }
}

.handler {
    width: 4px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
    background-color: rgb(77, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}